# Skopiuj jako .env i wpisz swoje dane pomiędzy cudzysłowami.
# .env jest lokalny i wykluczony z Gita. Nie przesyłaj go innym.
GITLAB_USERNAME=''
GITLAB_PASSWORD=''
OCTOPUS_DEV_USERNAME=''
OCTOPUS_DEV_PASSWORD=''
OCTOPUS_TEST_USERNAME=''
OCTOPUS_TEST_PASSWORD=''
# Starsze nazwy pozostają fallbackiem wyłącznie dla DEV.
OCTOPUS_USERNAME=''
OCTOPUS_PASSWORD=''
