# Skopiuj jako .env i wpisz swoje dane pomiędzy cudzysłowami.
# .env jest lokalny i wykluczony z Gita. Nie przesyłaj go innym.
GITLAB_USERNAME=''
GITLAB_PASSWORD=''
OCTOPUS_USERNAME=''
OCTOPUS_PASSWORD=''
